body {
    padding-top: 10px;
    background-image: url("images/Cipher PVP Background Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
.content-box{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 246, 237, 0.8);
    border-radius: 4px;
    padding: 30px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 4px 6px rgba(000, 000, 000, 0.05);
    margin: 40px auto;
    text-align: center;
}
@media (max-width: 500px) {
    .content-box {
        width: 90%;
        padding: 20px;
        margin: 20px auto;
    }
}
h1 {
    text-align: center;
}
.navbar {
    background-image: url("images/Cipher Banner Place Holder.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

.navbar a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.0);
    border: 2px solid rgba(0, 246, 237, 0.0);
    border-radius: 4px;
    text-align: center;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: black;
    font-size: 18px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 246, 237, 0.8);
    border-radius: 4px;
    transition: all 0.5s ease;
}

.navbar a.active {
    background-color: #0078ff;
}

.helper {
    font-weight: bold;
    color: #2ecc71;
    text-decoration-line: underline;
    text-decoration-color: #2ecc71;
}
.mod {
    font-weight: bold;
    color: #3498db;
    text-decoration-line: underline;
    text-decoration-color: #3498db;
}
.srmod {
    font-weight: bold;
    color: #206694;
    text-decoration-line: underline;
    text-decoration-color: #206694;
}
.jradmin {
    font-weight: bold;
    color: #c27c0e;
    text-decoration-line: underline;
    text-decoration-color: #c27c0e;
}
.admin {
    font-weight: bold;
    color: #e74c3c;
    text-decoration-line: underline;
    text-decoration-color: #e74c3c;
}
.owner {
    font-weight: bold;
    color: #294d4a;
    text-decoration-line: underline;
    text-decoration-color: #294d4a;
}
.developer {
    font-weight: bold;
    color: #06e9d6;
    text-decoration-line: underline;
    text-decoration-color: #06e9d6;
}
.builder {
    font-weight: bold;
    color: #9b59b6;
    text-decoration-line: underline;
    text-decoration-color: #9b59b6;
}
.even-space-staff-roles {
    display: inline-flex;
    align-items: center;
}
.outer-line {
    font-size: 1.2rem;
    font-weight: bold;
}
.staff-role-center{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.staff-role-center-namemc{
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
