<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cipher PVP</title>
</head>

<body>
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/leaderboards">Leaderboards</a>
    <a href="/store">Store</a>
    <a href="/staff">Staff</a>
    <a href="/punishments">Punishments</a>
</nav>
<main class="content-box">
    <h1>CIPHER PVP LEADERBOARDS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Accusantium eligendi
        facere iste odio odit? Ab accusantium
        consequuntur dicta, eius fugit id illo
        incidunt molestiae mollitia provident
        ullam vero voluptatem voluptatibus.</p>
    </main>
</body>
</html>