<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cipher PVP</title>
</head>

<body>
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/leaderboards">Leaderboards</a>
    <a href="/store">Store</a>
    <a href="/staff">Staff</a>
    <a href="/punishments">Punishments</a>
</nav>
<main class="content-box">
    <h1>CIPHER PVP PUNISHMENTS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio laudantium mollitia perspiciatis similique suscipit totam vitae. Beatae dolorum error magnam maiores mollitia, necessitatibus, nulla provident quae quaerat temporibus velit.</p>
    </main>
</body>
</html>