<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='staffstyles.css') }}">
    <title>Cipher PVP</title>
</head>

<body>
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/leaderboards">Leaderboards</a>
    <a href="/store">Store</a>
    <a href="/staff">Staff</a>
    <a href="/punishments">Punishments</a>
</nav>
<main class="content-box">
    <h1>CIPHER PVP STAFF</h1>
    <p>Meet the staff team that is here to protect you from all kinds of cheaters and other dangers on your PvP journey.
    The staff team is divided into six ranks on the server serving their own purpose in helping you and protecting you.
    Those staff ranks are <div class="even-space-staff-roles">
    <span class="outer-line">|</span><span class="staff-role-center"><span class="helper">HELPER</span></span>
    <span class="outer-line">|</span><span class="staff-role-center"><span class="mod">MOD</span></span>
    <span class="outer-line">|</span> <span class="staff-role-center"><span class="srmod">SR MOD</span></span>
    <span class="outer-line">|</span><span class="staff-role-center"><span class="jradmin">JR ADMIN</span></span>
    <span class="outer-line">|</span> <span class="staff-role-center"><span class="admin">ADMIN</span></span>
    <span class="outer-line">|</span> <span class="staff-role-center"><span class="owner">OWNER</span></span>
    <span class="outer-line">|</span></div></p>
</main>
<main class="content-box">
    <h1><span class="owner">OWNERS</span></h1>
    <p><div class="even-space-staff-roles">
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/b705bc3f48f0468495ed90f16d968ef7/64"><p>Unknown25FB <a href="https://namemc.com/profile/Unknown25FB.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span>
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/a5b31d44b46241dfa9db942dab3c3737/64"><p>LoveRemY <a href="https://namemc.com/profile/LoveRemY.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span>
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/bf976e9b7b9a4b228ef34516610ae45d/64"><p>WalmartConexion <a href="https://namemc.com/profile/WalmartConexion.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span>
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/549a61922d084cf7b5e348a6de8a75d2/64"><p>sixified <a href="https://namemc.com/profile/sixified.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span><span class="outer-line">|</span>
    </div></p>
</main>
<main class="content-box">
    <h1><span class="admin">ADMINS</span></h1>
    <p><div class="even-space-staff-roles">
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/b9d71b9414084fca8662a6f72d361a42/64"><p>TulcanT2 <a href="https://namemc.com/profile/TulcanT2.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span>
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/44351d7f68ce4884a8aaeb4030842e4b/64"><p>xchicken <a href="https://namemc.com/profile/xchicken.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span><span class="outer-line">|</span>
    </div></p>
</main>
<main class="content-box">
    <h1><span class="jradmin">JR ADMINS</span></h1>
</main>
<main class="content-box">
    <h1><span class="srmod">SR MODS</span></h1>
</main>
<main class="content-box">
    <h1><span class="mod">MODS</span></h1>
    <p><div class="even-space-staff-roles">
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/cf81a9b85c994a28bf4e9aac81f8d2ab/64"><p>scjz <a href="https://namemc.com/profile/scjz.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span><span class="outer-line">|</span>
    </div></p>
</main>
<main class="content-box">
    <h1><span class="helper">HELPERS</span></h1>
    <p><div class="even-space-staff-roles">
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/2710a88b9a844d83a2059bb74335e3f1/64"><p>Prails <a href="https://namemc.com/profile/Prails.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span>
    <span class="outer-line">|</span><span class="staff-role-center-namemc"><img src="https://mc-heads.net/head/aa4fdc9025d948e9959e1ecccfe6f59b/64"><p>L00p1ng <a href="https://namemc.com/profile/L00ping.1"><img src="{{ url_for('static', filename='images/NameMC Logo.svg') }}" width="15" height="15"></a></p></span><span class="outer-line">|</span>
    </div></p>
</main>
<main class="content-box">
    <h1>Not to forget about our devs and builders</h1>
    <p>A huge thanks to all the developers and builders who took time out of their lives to contribute to what we have here today!</p>
</main>
<main class="content-box">
    <h1><span class="developer">DEVELOPERS</span></h1>
</main>
<main class="content-box">
    <h1><span class="builder">BUILDERS</span></h1>
</main>
</body>
</html>